.picture-item {
  width: 100%;
  height: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.picture-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: #0000001a 0px 10px 15px -3px, #0000000d 0px 4px 6px -2px;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  max-width: 280px;
  max-height: 550px;
}

button.btn-open {
  font-weight: bold;
  color: #000000d5;
  border: 1px solid #000000;
  transition: all 110ms ease-in;
  background-color: #ffffff;
  width: 100%;
  padding: 17px;
  cursor: pointer;
  border-radius: 1px;
}

.btn-open:hover {
  background-color: #000000;
  color: white;
}
.btn-open:focus {
  background-color: #000000;
  color: #ffffff;
}

.about-item {
  padding: 20px;
  margin-top: 30px;
  font-size: 13px;
}
.about-item p {
  font-style: italic;
  margin-top: 20px;
  margin-left: 10px;
  color: #008000;
}
