.splash {
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
}
.splash-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-color: black;
  animation: randomImg 10s infinite;
}

.logo-splash {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 500;
  width: 100%;
  max-width: 500px;
  animation: logoNeon 3s infinite linear;
}

@keyframes logoNeon {
  0% {
    filter: drop-shadow(0px 0px 5px greenyellow);
  }
  25% {
    filter: drop-shadow(0px 0px 7px greenyellow);
  }

  50% {
    filter: drop-shadow(0px 0px 10px greenyellow);
  }
  75% {
    filter: drop-shadow(0px 0px 7px greenyellow);
  }

  100% {
    filter: drop-shadow(0px 0px 5px greenyellow);
  }
}
@keyframes randomImg {
  0% {
    filter: brightness(0%);
  }
  25% {
    background-image: url("../icons/20240608_185913650_iOS.jpg");
    filter: brightness(50%);
  }

  50% {
    background-image: url("../icons/20240608_190157910_iOS.jpg");
    filter: brightness(50%);
  }

  100% {
    filter: brightness(50%);
    background-image: url("../icons/20240608_185530820_iOS.jpg");
  }
}

@media (width <= 576px) {
  .splash {
    height: 80vh;
    max-width: 100vw;
  }
  .splash-image {
    width: 660px;
    background-position-x: 60%;
  }
}
