.splash {
  width: 100%;
  height: 90vh;
}
.splash-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-color: black;
  animation: randomImg 10s infinite;
}

.logo-splash {
  position: absolute;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.logo-splash img {
  max-width: 500px;
  transform: rotate(35deg);
}

@keyframes randomImg {
  0% {
    filter: brightness(0%);
  }
  25% {
    background-image: url("../icons/20240608_185913650_iOS.jpg");
    filter: brightness(50%);
  }

  50% {
    background-image: url("../icons/20240608_190157910_iOS.jpg");
    filter: brightness(50%);
  }

  100% {
    filter: brightness(50%);
    background-image: url("../icons/20240608_185530820_iOS.jpg");
  }
}
