nav {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: dropBottom 2s alternate;
  background-color: white;
}

.nav-image {
  margin-left: 120px;
}

.nav-info {
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
  width: 100%;
}

nav img {
  width: 150px;
}
nav a {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
  margin-right: 90px;
  color: #387000;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.479);
}
nav a:focus {
  color: rgba(0, 0, 0, 0.479);
}
