* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* 
@keyframes infinitySlide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes dropLeft {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes dropBottom {
  0% {
    opacity: 0;
    transform: translateY(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  } */

body {
  background-image: url(/assets/img/Untitled\ design.png);
  background-position: center;
  background-size: contain;
}

main {
  margin: 0 auto;
  padding: 80px;
  width: 100%;
  height: 100%;
}
main h1 {
  width: 100%;
  text-align: start;
  padding: 0 20px 0 50px;
  color: #64a91f;
  box-shadow: rgb(124, 252, 0) 0px 2px 4px -2px;
  border-radius: 5px;
  background-color: white;
  animation: dropLeft 2s;
}

.grid-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
}

/* FOOTER */

/* Inpecionar item */

/* RESPONSIVO */

@media (width <= 1200px) {
  .item {
    width: 270px;
    height: 350px;
  }

  .btn-open {
    top: 300px;
    left: 170px;
  }

  .grid-product {
    gap: 40px;
    margin-left: 6%;
  }

  /* FOOTER */

  footer {
    height: 35vh;
  }

  /* Inpecionar item */
  .modal-item {
    max-width: 850px;
    top: 90px;
    height: 70vh;
  }

  .btn-close {
    top: -40px;
  }
  .talk-me {
    top: 90%;
  }

  .talk-me a {
    font-size: 14px;
    padding: 9px 20px;
    margin-top: 0px;
  }
}

@media (width <= 576px) {
  main h1 {
    font-size: 26px;
    margin-top: -10%;
    width: 80vw;
    padding: 0 10px 5px 20px;
    margin-left: -20%;
  }

  .item {
    width: 150px;
    height: 230px;
  }

  .btn-open {
    width: 60px;
    font-size: 10px;
    padding: 4px;
    top: 200px;
    left: 76px;
  }

  .about-item {
    padding: 15px;
    margin-top: -15px;
  }
  .about-item h2 {
    font-size: 14px;
    margin-top: 10px;
  }
  .about-item p {
    margin-top: 8px;
    font-size: 12px;
  }

  .grid-product {
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-top: 40px;
    margin-left: -2%;
  }

  /* FOOTER */

  footer {
    height: 20vh;
    padding: 20px;
    font-size: 13px;
  }

  footer img {
    padding: 5px;
    margin-right: 15px;
    width: 30px;
  }

  /* Inpecionar item */

  .modal-item {
    width: 85vw;
    display: grid;
    right: 7%;
    top: 10%;
    height: 80vh;
  }

  .full-picture {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
  }

  .btn-close {
    top: 20px;
  }

  .info-item {
    padding: 15px;
  }

  .colors {
    margin-bottom: 5%;
  }

  .color-product {
    width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 15px;
  }

  .sizes {
    display: flex;
    margin-bottom: 10%;
  }

  .size-product {
    width: 35px;
    height: 35px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 15px;
  }
  .modal-flex h2 {
    font-size: 25px;
    margin-bottom: 8%;
    margin-top: -15%;
  }
  .modal-flex h3 {
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: -5%;
  }
  .modal-flex p {
    font-size: 13px;
  }
  .talk-me {
    top: 90%;
    right: 5%;
  }

  .talk-me a {
    font-size: 13px;
    padding: 9px 20px;
    margin-top: 0px;
  }

  .manual-navigation {
    margin-top: 11.2%;
    margin-left: -8%;
  }

  .manual-btn {
    margin-top: 25.4vh;
    padding: 4px;
  }

  #radio1:checked ~ .first {
    margin-left: -80px;
  }

  #radio2:checked ~ .first {
    margin-left: -650px;
  }

  #radio3:checked ~ .first {
    margin-left: -1220px;
  }
  #radio4:checked ~ .first {
    margin-left: -80px;
  }

  #radio5:checked ~ .first {
    margin-left: -650px;
  }

  #radio6:checked ~ .first {
    margin-left: -1220px;
  }

  .navigation-auto div {
    border: 2px solid rgba(0, 0, 255, 0);
    padding: 4px;
  }

  .navigation-auto {
    margin-left: -8%;
    top: 31vh;
  }

  .navigation-auto div:not(:last-child) {
    margin-right: 30px;
  }

  .manual-btn:not(:last-child) {
    margin-right: 30px;
  }
}

.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.438);
  padding-left: 25px;
  width: 100%;
  font-size: 20px;
  max-width: 500px;
}

.lupa {
  margin-left: -35px;
  background-color: #64a91f;
  padding: 3px;
  width: 50px;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.lupa img {
  max-width: 25px;
}

input:focus {
  outline: none;
  border-color: #009c2f;
}
