.modal-bg {
  background-color: #00000083;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 600px;
}

.btn-close-modal {
  position: relative;
  top: 15px;
  left: 95%;
  font-size: 30px;
  color: greenyellow;
  cursor: pointer;
}
