.modal-bg {
  background-color: #00000083;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 600px;
  z-index: 910;
}

.btn-close-modal {
  position: absolute;
  font-size: 40px;
  top: 120px;
  margin-left: -38px;
  color: rgba(0, 0, 0, 0.829);
  cursor: pointer;
}

@media (width <= 576px) {
  .modal-body {
    width: 90%;
    max-width: 800px;
    height: 90vh;
    z-index: 910;
    position: relative;
  }

  .btn-close-modal {
    position: absolute;
    font-size: 35px;
    cursor: pointer;
    top: 0;
    left: 38px;
    z-index: 90000;
  }
}
